<html>
    <head>
        <title>
            <%=title%>

        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <script src="https://kit.fontawesome.com/54a764751d.js" crossorigin="anonymous"></script>
        <%-style%>
    </head>
    <body class = "bg-secondary">
        <%-include("header");%>



        <%-body%>


        <%-include("footer");%>
        <script type="text/javascript" src ="/java/home.js"></script>
        <%-script%>
    </body>
</html>